In [3]:
# TASK1 :Creating variable as roll number and assign value and print roll number and id and type
roll_no=34
print(roll_no) #printing roll_no
print(id(roll_no)) #printing the identity of roll_no
print(type(roll_no)) #printing the type of roll_no

#Creating variable as firstname and assign string value and print firstname and id and type
firstname='priya'
print(firstname) #printing roll_no
print(id(firstname)) #printing the identity
print(type(firstname)) # prining the type of firstname

#Creating variable as lasttname and assign string value and print lastname and id and type
lastname='maruri'
print(lastname) #printing roll_no
print(id(lastname)) #printing the identity
print(type(lastname)) # prining the type of firstname

#Creating variable as maxmarks and value value and print maxmarks and id and type
maxmarks=50 
print(maxmarks)   # printing maxmarks
print(id(maxmarks))  #printing the identity
print(type(maxmarks))  #printing the type of maxmarks

34
140729970146776
<class 'int'>
priya
2137902168512
<class 'str'>
maruri
2137902169040
<class 'str'>
50
140729970147288
<class 'int'>

In [7]:
# TASK2 Execute following expression individually and explain

#var1=2 # it is correct because the variable should start with a-z
#2var=2 # variable should be not start with numbers
#var 1=2 #There should not be space between the var and 1
var$2=2 # there should not be the symbol between the name

SyntaxError: invalid syntax (2113374833.py, line 6)

In [13]:
# TASK3 : ASSIGNING VALUES TO VARIABLES
#Class=15 # it is correct beacuse variable should be start with capital letter
#class=14 # it is wrong neacuse class is a keyword
DEF=13 #it is correct 
def=12 #it is a keyword
a=TRUE # it is wrong because TRUE is not define
b=false # it is wrong the in false the letter f should be capital

SyntaxError: invalid syntax (1151452097.py, line 5)

In [19]:
#TASK4 :USING ID()
#a: create a variable named marks assign value between 0 to 100 and print value and id and type
marks=90.55
print(marks) #printing the marks
print(id(marks)) # printing identity of marks
print(type(marks)) # printing the type of marks

#b:change the value of marks to any other float value between 0 to 100 and print value and id and type
marks=95.55
print(marks) #printing the marks
print(id(marks)) # printing identity of marks
print(type(marks)) # printing the type of marks

# c
#The id of marks changes because when you assign a new value to a variable in Python, it creates a new object in memory, and the variable reference is updated to point to this new object.

90.55
2137915534192
<class 'float'>
95.55
2137915535664
<class 'float'>

In [23]:
# TASK5 :FORMATTING THE OUTPUT
#a: dividing marks by maxmarks
maxmarks=100
expected_output=marks/maxmarks
print('expected_output:{:.2f}%'.format(expected_output))

#b:joining lastname and firstname
fullname='firstname'+'lastname'
print(fullname)

#c:print the variable with fullname with the text scored followed by percentage marks
scored=expected_output
print('{} scored {:.2f}%'.format(fullname,scored))

expected_output:0.96%
firstnamelastname
firstnamelastname scored 0.96%

In [28]:
# TASK6:Excute the texpression
#1+"2 #It is wrong because it is unsupproted operand type
#"1"+"2" #It is true 
#1/2 #output is 0.5
#1//2 #output is 0

0

In [39]:
#TASK7:Excutes the commands
#True and True # output is True
#True and False #output is false
#False or True #output is true
#False or False #output is false

True

In [46]:
# TASK8:compare firstname and lastname using in operator
#firstname in lastname:it is false because there no matching name 
firstname is lastname #priya and maruri are two different there is no matching one

False

In [49]:
#TASK9:given a=4,b=3,c=2,d=a**b+c, e=a**(b+c)
a=4
b=3
c=2
d=a**b+c
print(d)
e=a**(b+c)
print(e)
# the values of d and e are different beacuse od precedence operator it means in compared to both the d has parenthisis it should find first so it becomes the 1024.

66
1024