In [1]:
#TASK1 IN LIST BELOWE CHECK THE PRESENCE OF DATA ITEM USA
mynames=["Joe","Zoe","world","Bard","Angelina","world","Zuki","Tom","Paris","world","magic"]
print("USA" in mynames)

False

In [6]:
#TASK2 HOW DO YOU IDENTIFY NUMBER OF TIMES THE DATA ITEM WORLD PRESENT IN FOLLOWING DATA
mynames=["Joe","Zoe","world","Bard","Angelina","world","Zuki","Tom","Paris","world","magic"]
n=mynames.count("world")
print(n)

3

In [8]:
#TASK3 WRITE A PROGRAM TO COUNT THE TOTAL NUMBER OF ODD AND EVEN NUMBERS IN LIST 
# Create a list of numbers from 1 to 29
numlist = list(range(1, 30))
odd_count = 0
even_count = 0
for num in numlist:
    if num % 2 == 0:
        even_count += 1  
    else:
        odd_count += 1   
print("Total number of even numbers: ",even_count)
print("Total number of odd numbers:",odd_count)

Total number of even numbers:  14
Total number of odd numbers: 15

In [10]:
#To complete Task 4, where you need to select the first 5 even numbers from numlist, store them in a new list, and then display the contents of the new list
numlist = list(range(1, 30))
n=0
el = []
for i in numlist:
    if i % 2 == 0:  
        el.append(i)
        n=n+1
    if n==5:
        break
print("new list is :",el)

new list is : [2, 4, 6, 8, 10]

In [5]:
#print the last two odd numbers from the list numlist

numlist = list(range(1, 30))
odd_numbers = [num for num in numlist if num % 2 != 0]
print(odd_numbers[-2:])

[27, 29]

In [13]:
#create two empty list as x and y and store 5 string from user into x and 3 number from user into y and append  contents of list  y to x
x=[]
y=[]
a='priya','rama','devi','koti','vijaya','siri'
b=34,33,35
x.append(a)
y.append(b)
print(x)
print(y)
x.append(y)
print(x)

[('priya', 'rama', 'devi', 'koti', 'vijaya', 'siri')]
[(34, 33, 35)]
[('priya', 'rama', 'devi', 'koti', 'vijaya', 'siri'), [(34, 33, 35)]]

In [11]:
#finding square root from 1 to 10 and 30 to 40
import math
list_a=list(range(1,10))
for x in list_a:
    sqrt_x=math.sqrt(x)
    print("squares of number is {} :{:.2f}".format(x,sqrt_x))
    x=x+1

import math
list_a=list(range(30,40))
for x in list_a:
    sqrt_x=math.sqrt(x)
    print("squares of number is {} :{:.2f}".format(x,sqrt_x))
    x=x+1

squares of number is 1 :1.00
squares of number is 2 :1.41
squares of number is 3 :1.73
squares of number is 4 :2.00
squares of number is 5 :2.24
squares of number is 6 :2.45
squares of number is 7 :2.65
squares of number is 8 :2.83
squares of number is 9 :3.00
squares of number is 30 :5.48
squares of number is 31 :5.57
squares of number is 32 :5.66
squares of number is 33 :5.74
squares of number is 34 :5.83
squares of number is 35 :5.92
squares of number is 36 :6.00
squares of number is 37 :6.08
squares of number is 38 :6.16
squares of number is 39 :6.24

In [40]:
#5 th table
n=5
for i in range(1,11,1):
    print(n,'x',i, '=', n*i)

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50