In [1]:
#TASK1
#factorial of number
n = 5
factorial = 1
i = 1
while i <= n:
    factorial *= i
    i += 1 
print("Factorial of", n, "is", factorial)

Factorial of 5 is 120

In [20]:
#TASK2
#prime number checking
n=int(input("enter number"))
flag=True
if(n==0 and n==1):
    print("not prime")
elif(n>1):
    for i in range(2,n//2,1):
        if(n%i==0):
            flag=False
            break;
    if flag==True:
        print("prime")
    else:
        print("not prime")

enter number 4

prime

In [30]:
#TASK3
#sum of all digits
n=int(input("enter number"))
sum=0
while n!=0:
    digit=n%10
    sum=sum+digit
    n=n//10
print(sum)

enter number 234

9

In [2]:
#TASK4
#fibonacci series
num = 7
n1, n2 = 0, 1
print("Fibonacci series:",n1,n2,end=" ")
n3 = 2  
while n3 < num:
    n = n1 + n2  
    print(n, end=' ')
    n1 = n2
    n2 = n
    n3 += 1

Fibonacci series: 0 1 1 2 3 5 8

In [65]:
#TASK5
#finding id of tuples and adding two tuples and identifing the id
t1=(1,2,3)
t2=(4,5,6)
id(t1)
id(t2)
t1=t1+t2
print(t1)
id(t1)

(1, 2, 3, 4, 5, 6)

1910075044768

In [75]:
#TASK5
#creating one list and one dictionary and insert list values into dictonary using for loop and add function
m = {10, 20, 30, 40, 50}
n = [33, 40, 55, 60, 70]
for i in n:
    m.add(i)
print(m)

{70, 10, 20, 30, 33, 40, 50, 55, 60}

In [4]:
#TASK6
#print the only even combination
data_set={'Python':1,'Data':2,'Excel':3,'SQL':4}
for k,v in data_set.items():
    if(v%2==0):
        print(k,v)

Data 2
SQL 4

In [3]:
#TASK7
dict={i:i**2 for i in range(1,15)}
print(dict)
d={}
d.update({100:10000})
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196}
{100: 10000}